@model IEnumerable<AdminPanelCore.Models.Role>

<!-- My htmlhelper -->
@using AdminPanelCore.Helpers


@{
    ViewData["Title"] = "Roles";
}

<h3 class="box-title">@ViewData["Title"]</h3>

<!-- /.box-header -->
<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (@Html.CheckPermission("Roles.Index.Edit"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a><a> |</a>
                        }
                        @if (@Html.CheckPermission("Roles.Index.Delete"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a><a> |</a>
                        }
                        @if (@Html.CheckPermission("Roles.Index.Permissions"))
                        {
                            <a asp-action="Permissions" asp-route-id="@item.RoleId">Permissions</a><a> |</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<p>
    @if (@Html.CheckPermission("Roles.Index.Create"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<script>
    $(function () {
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true
        })
    })
</script>